XERO_CLIENT_ID=YOUR_XERO_CLIENT_ID
XERO_CLIENT_SECRET=YOUR_XERO_CLIENT_SECRET
# Custom connection usually does not require REDIRECT_URI
XERO_REDIRECT_URI=http://localhost:8000/xero/callback
XERO_TENANT_ID=
XERO_WEBHOOK_KEY=
