fastapi>=0.100.0
uvicorn>=0.23.0
sqlalchemy>=2.0.0
alembic>=1.11.0
pydantic>=2.0.0
pydantic-settings>=2.0.0
python-multipart
requests
pytest
httpx
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
xhtml2pdf
pymysql
websockets
apscheduler>=3.10.4
openai>=1.14.0
msal>=1.26.0
google-cloud-storage
